<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.culturesportstourism.dpzl.resourcedistr.CultureResDistriMapper">

    <select id="getTypeDistributions" resultType="cn.iocoder.yudao.module.industry.controller.admin.culturesportstourism.dpzl.resourcedistribution.vo.CultureResDistriRespVO$ResourceTypeDistribution">
        SELECT
        sm.minor_name AS catName,
        SUM(sasr.total_scene_count) AS totalSceneCount
        FROM stat_app_scene_rpt sasr
        LEFT JOIN sys_app_scene_minor sm ON sasr.minor_code = sm.minor_code
        <where>
            <if test="query.minorCode != null and query.minorCode != ''">
                AND sm.minor_code = #{query.minorCode}
            </if>
            <if test="query.regionCode != null and query.regionCode != ''">
                AND sasr.region_code = #{query.regionCode}
            </if>
        </where>
        GROUP BY sm.minor_name
        ORDER BY totalSceneCount DESC
    </select>

    <select id="getDensityData" resultType="cn.iocoder.yudao.module.industry.controller.admin.culturesportstourism.dpzl.resourcedistribution.vo.CultureResDistriRespVO$ResourceDensity">
        SELECT coord_x AS coordX,
        coord_y AS coordY,
        SUM(`count`) AS count        -- 聚合
        FROM gc_biz_mng_comp_spatial
        <where>
            <!-- 这里保留你已有的动态条件 -->
        </where>
        GROUP BY coord_x, coord_y
    </select>

    <select id="getStatusRatio" resultType="cn.iocoder.yudao.module.industry.controller.admin.culturesportstourism.dpzl.resourcedistribution.vo.CultureResDistriRespVO$ResourceStatusRatio">
        SELECT
        SUM(normal_comp_count) AS normalCompCount,
        SUM(disabled_scene_count) AS disabledSceneCount
        FROM stat_app_scene_rpt
        <where>
            <if test="query.minorCode != null and query.minorCode != ''">
                AND minor_code = #{query.minorCode}
            </if>

        </where>
    </select>

    <select id="getTopResources" resultType="cn.iocoder.yudao.module.industry.controller.admin.culturesportstourism.dpzl.resourcedistribution.vo.CultureResDistriRespVO$TopResource">
        SELECT
        c.comp_name AS compName,
        c.count AS count
        FROM biz_mng_comp_info c
        ORDER BY c.count DESC
        LIMIT 5
    </select>

    <select id="getResourceTypes" resultType="cn.iocoder.yudao.module.industry.controller.admin.culturesportstourism.dpzl.resourcedistribution.vo.CultureResDistriRespVO$ResourceType">
        SELECT
            minor_code AS minorCode,
            minor_name AS minorName
        FROM sys_app_scene_minor
    </select>
</mapper>
