<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.marketreg.dashboard.global.overview.MarketOverviewMapper">

    <select id="getMarketOverview"
            parameterType="cn.iocoder.yudao.module.industry.controller.admin.marketreg.dashboard.global.overview.vo.MarketOverviewQueryReqVO"
            resultType="cn.iocoder.yudao.module.industry.controller.admin.marketreg.dashboard.global.overview.vo.MarketOverviewRespVO">

        SELECT
            -- 监管对象总数
            (SELECT ifnull(COUNT(*),0)
            FROM biz_supv_obj o
            <where>
                <if test="regionFullCode != null">
                    AND o.region_full_code LIKE CONCAT(left(#{regionFullCode},#{regionEffectiveLength}),'%')
                </if>
                <if test="supvObjTypeIds != null and supvObjTypeIds.size() > 0">
                    AND o.type IN
                    <foreach collection="supvObjTypeIds" item="type" open="(" separator="," close=")">
                        #{type}
                    </foreach>
                </if>
            </where>
            ) AS totalSupvObj,

            -- 在办案件数
            (SELECT ifnull(COUNT(*),0)
            FROM biz_case c
            <where>
                c.status = 1
                <if test="regionFullCode != null">
                    AND c.region_full_code LIKE CONCAT(left(#{regionFullCode},#{regionEffectiveLength}),'%')
                </if>

                <if test="caseTypeIds != null and caseTypeIds.size() > 0">
                    AND c.type IN
                    <foreach collection="caseTypeIds" item="typeId" open="(" separator="," close=")">
                        #{typeId}
                    </foreach>
                </if>
            </where>
            ) AS handlCaseCount,

            -- 未处置预警数
            (SELECT COUNT(*)
            FROM biz_warn w
            <where>
                w.warn_status = 0
                <if test="regionFullCode != null">
                    AND w.region_full_code LIKE CONCAT(left(#{regionFullCode},#{regionEffectiveLength}),'%')
                </if>

                <if test="warnTypeIds != null and warnTypeIds.size() > 0">
                    AND w.warn_type IN
                    <foreach collection="warnTypeIds" item="typeId" open="(" separator="," close=")">
                        #{typeId}
                    </foreach>
                </if>
            </where>
            ) AS pendWarnCount,

            -- 区域覆盖率
            (SELECT
                ROUND(
                    IF(COUNT(*) = 0, 0,
                        SUM(CASE WHEN sc.state = 1 THEN 1 ELSE 0 END) / COUNT(*) * 100
                    ),
                    2
                )
            FROM biz_supv_coverage sc
            <where>
                <if test="regionFullCode != null">
                    AND sc.region_full_code LIKE CONCAT(left(#{regionFullCode},#{regionEffectiveLength}),'%')
                </if>
            </where>
            ) AS regionCoverageRate
    </select>

</mapper>
