<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    通用大屏核心对象分布视图 Mapper XML
    功能说明：
    1. 定义数据库访问的 SQL 语句
    2. namespace 对应 Mapper 接口全路径
    3. select 语句的 resultType 对应查询返回的 VO 类
-->
<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.universal.dashboard.global.coreobj.UniversalCoreObjMapper">

    <!--
        查询通用大屏核心对象分布视图的方法
        id: 对应 Mapper 接口的方法名
        resultType: 查询结果映射到的 VO 类
        参数通过 Mapper 接口传入
    -->
    <select id="listUniversalCoreObj"
            resultType="cn.iocoder.yudao.module.industry.controller.admin.universal.dashboard.global.coreobj.vo.UniversalCoreObjRespVO"
            parameterType="cn.iocoder.yudao.module.industry.controller.admin.universal.dashboard.global.coreobj.vo.UniversalCoreObjQueryReqVO">
        SELECT
        m.mng_comp_id AS facilityId,
        m.comp_name AS facilityName,
        m.grid_name AS regionName,
        m.minor_name AS facilityType,
        m.comp_status AS status,

        m.dept_name AS deptName
        FROM gc_biz_mng_comp m
        <where>
            <if test="regionShortCode != null and regionShortCode != ''">
                AND m.comp_code LIKE concat(#{regionShortCode},'%')
            </if>
            <if test="minorId != null and minorId != ''">
                AND m.minor_id = #{minorId}
            </if>
            <if test="compStatus != null and compStatus != ''">
                AND m.comp_status = #{compStatus}
            </if>
            <if test="compName != null and compName != ''">
                AND m.comp_name LIKE concat('%', #{compName}, '%')
            </if>
        </where>
    </select>

</mapper>
