<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.emergency.dashboard.global.riskview.EmergRiskViewMapper">

    <select id="listEmergRiskView"
            resultType="cn.iocoder.yudao.module.industry.controller.admin.emergency.dashboard.global.riskview.vo.EmergRiskViewRespVO">
        SELECT
            h.hazard_id AS hazardId,
            h.risk_level AS riskLevel,
            h.hazard_type AS hazardType,
            h.coord_x as coord_x,
            h.coord_y as coord_y,
            h.update_time as updateTime,
            g.grid_name AS gridName,
            a.name AS regionName,
            h.discover_time AS discoverTime
        FROM biz_risk_hazard h
        LEFT JOIN sys_grid_cfg g ON h.region_full_code = g.grid_code
        LEFT JOIN sys_area a ON h.region_full_code = a.full_code
        <where>
            <if test="regionFullCode != null and regionFullCode != ''">
                h.region_full_code = #{regionFullCode}
            </if>
            <if test="riskLevel != null and riskLevel != ''">
                AND h.risk_level = #{riskLevel}
            </if>
            <if test="hazardType != null and hazardType != ''">
                AND h.hazard_type = #{hazardType}
            </if>
            <if test="startTime != null">
                AND h.discover_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND h.discover_time &lt;= #{endTime}
            </if>
        </where>
    </select>

</mapper>
