/*
flex: 0 0 auto;
align-items: stretch; // 拉伸 子项高度一致
flex 布局
 $wrap 属性：
    nowrap:不换行
    wrap:换行
$justify 属性：--------内容
    flex-start:左对齐
    flex-end:右对齐
    center:居中
    space-between:两端对齐，项目之间的间隔都相等
    space-around:每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍
$align 属性：------- 项目
    center:居中
    flex-start:上对齐
    flex-end:下对齐
    baseline:内容第一行文字基线对齐
    stretch:如果项目未设置高度或设为auto，将占满整个容器的高度
    initial: 设置该属性为它的默认值 如果下拉不出来可能是他的影响
$direction 属性：
    row:左到右
    row-reverse:右到左
    column:垂直
 */
@mixin flex($wrap: nowrap, $justify: flex-start, $align: center, $direction: row, $display: flex) {
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}

/*
.a {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
*/

/*
网格布局
$columns 属性：定义网格的列的数量和宽度
    repeat(5,1fr) 一行分成5列
    repeat(auto-fill,minmax(260px,1fr))  响应式布局，最小260px 最大1fr
    100px 200px 1fr; 三列，宽度分别为 100px、200px 和剩余空间的 1 份
$rows 属性：用于定义网格的行的数量和高度
     50px auto; 两行，高度分别为 50px 和自动
$gap 属性:  列与列之间的间距
    15px 一个属性行间距和列间距都是15px
    15px 20px; 行间距 15px，列间距 20px
$justify 属性：--------内容 整个网格在容器内的列轴对齐方式
    flex-start:左对齐
    flex-end:右对齐
    center:居中
    space-between:两端对齐，项目之间的间隔都相等
    space-around:每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍
$align 属性：------- 项目 项目在行轴上的对齐方式
    center:居中
    flex-start:上对齐
    flex-end:下对齐
    baseline:内容第一行文字基线对齐
    stretch:如果项目未设置高度或设为auto，将占满整个容器的高度
    initial: 设置该属性为它的默认值 如果下拉不出来可能是他的影响
$areas 属性：定义网格区域的名称，用于更直观地布局 就可以用class定义属性
    "header header header"
    "sidebar main main"
    "footer footer footer";
单个项目 属性：
     grid-row 1/3  1是第1行开始跨2行  本身是1行跨2行就加2
     grid-column 1/3  1是第1列开始跨2列  本身是1行跨2列就加2
     justify-self
        center 单个网格项在单元格内的水平对齐方式
        end 单个网格项在单元格内的垂直对齐方式
*/


/*
display: grid;
grid-template-columns:repeat(5,1fr) ;
grid-template-rows: auto;
gap:  15px 20px;
align-items:center;
justify-content: center;
*/


@mixin grid($columns: auto, $rows: auto, $gap: 0px, $areas: null, $justify: flex-start, $align: center) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;

  @if $areas != null {
    grid-template-areas: $areas;
  }
}


