<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.marketreg.dashboard.global.supvview.MarketSupvViewMapper">
    <select id="getMarketSupvView"
            resultType="cn.iocoder.yudao.module.industry.controller.admin.marketreg.dashboard.global.supvview.vo.MarketSupvViewRespVO"
            parameterType="cn.iocoder.yudao.module.industry.controller.admin.marketreg.dashboard.global.supvview.vo.MarketSupvViewQueryReqVO">
        SELECT
        COUNT(*) AS totalSupvObj,
        COALESCE(SUM(CASE WHEN type = 0 THEN 1 ELSE 0 END), 0) AS entCount,
        COALESCE(SUM(CASE WHEN type = 1 THEN 1 ELSE 0 END), 0) AS individualCount,
        COALESCE(SUM(CASE WHEN type = 2 THEN 1 ELSE 0 END), 0) AS specEquipCount,
        COALESCE(SUM(CASE WHEN supv_status = 0 THEN 1 ELSE 0 END), 0) AS unsupvdCount,
        CASE
        WHEN COUNT(*) = 0 THEN 0
        ELSE
        ROUND(
        (COUNT(*) - SUM(CASE WHEN supv_status = 0 THEN 1 ELSE 0 END)) / COUNT(*) * 100, 2
        )
        END AS supvCoverageRate
        FROM biz_supv_obj
        <where>
            <if test="typeIds != null and typeIds.size() > 0">
                AND type IN
                <foreach collection="typeIds" item="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
            <if test="status != null">
                AND supv_status = #{status}
            </if>
            and
            <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionFullCode">
                <property name="areaColumn" value="region_full_code"/>
            </include>
            and
            <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.TimeSqlMapper.searchByStartTimeEndTime">
                <property name="search_time_col" value="create_time"/>
            </include>
        </where>
    </select>

</mapper>
