<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.health.dashboard.global.overview.HealthOverviewMapper">

    <!-- 卫健全域数据概览 -->
    <select id="getHealthOverview"
            parameterType="cn.iocoder.yudao.module.industry.controller.admin.health.dashboard.global.overview.vo.HealthOverviewQueryReqVO"
            resultType="cn.iocoder.yudao.module.industry.controller.admin.health.dashboard.global.overview.vo.HealthOverviewRespVO">

        SELECT
        -- 医疗机构总数
        (SELECT COUNT(1)
        FROM sys_health_medical_org mo
        <where>
            and
            <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionShortCode">
                <property name="areaColumn" value="LEFT(region_full_code,6)"/>
            </include>
        </where>
        ) AS medicalInstCount,

        -- 重点人群总数
        (SELECT COUNT(1)
        FROM biz_health_key_pop kp
        <where>
            and
            <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionShortCode">
                <property name="areaColumn" value="LEFT(region_full_code,6)"/>
            </include>
        </where>
        ) AS keyPopTotal,

        -- 卫健服务总人次
        (SELECT ifnull(SUM(metr.total_svc_volume),0)
        FROM stat_health_svc_metric metr
        <where>
            and
            <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionShortCode">
                <property name="areaColumn" value="LEFT(region_full_code,6)"/>
            </include>
            and
            <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.TimeSqlMapper.searchByStartTimeEndTime">
                <property name="search_time_col" value="stat_time"/>
            </include>
        </where>
        ) AS totalSvcVolume,

        -- 预警事件总数
        (SELECT COUNT(1)
        FROM biz_health_warn warn
        <where>
            and
            <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionShortCode">
                <property name="areaColumn" value="LEFT(region_full_code,6)"/>
            </include>
            and
            <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.TimeSqlMapper.searchByStartTimeEndTime">
                <property name="search_time_col" value="discovery_time"/>
            </include>
        </where>
        ) AS earlyWarningTotal,

        -- 床位使用率（平均值）
        (SELECT ifnull(ROUND(AVG(svc.bed_utilization_rate), 2),0)
        FROM biz_health_org_svc svc
        <where>
            and
            <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionShortCode">
                <property name="areaColumn" value="LEFT(region_full_code,6)"/>
            </include>
            and
            <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.TimeSqlMapper.searchByStartTimeEndTime">
                <property name="search_time_col" value="stat_time"/>
            </include>
        </where>
        ) AS bedUtilizationRate


    </select>

</mapper>
