
html, body {
  height: 100%;
}

#app {
  height: 100%;
}

img {
  border: 0;
  vertical-align: top;
}

ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, b {
  font-weight: normal;
}

i, em {
  font-style: normal;
}

a {
  text-decoration: none;
  outline: none;
  color: #303133;
}


.dv-full-screen-container-main {
  background: url("../images/dadaV-bg.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.leadershipCockpit-main {
  height: 100%;

  //内容
  .content-main {
    padding: 25px;
    height: calc(100% - 93px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    //标题
    .title {
      text-align: center;
      color: #40d9ff;
      font-size: 18px;
      font-weight: bold;
      height: 35px;
      line-height: 35px;
    }

    //公用布局
  //  .bg {
  //    background: url("../images/dataV-br.jpg") no-repeat;
  //    background-size: 100% 100%;
  //  }
  //
  //  .bg1 {
  //    background: url("../images/dataV-br1.jpg") no-repeat;
  //    background-size: 100% 100%;
  //  }
  }

  .content-left {
    //width: 28%;
    width: 500px;

    height: 100%;
    flex: 0 0 auto;

    //第一块 厂站总览
    .one {
      height: calc(100% / 3);
    }

    //第二块
    .two {
      height: calc(100% / 3);
      margin: 12px 0;
    }

    //第三块
    .three {
      height: calc(100% / 3 - 24px);
    }
  }

  //中间
  .content-center {
    flex: 1;
    height: 100%;
    padding: 0 25px;
    position: relative;
    .s1 {
      height: calc(100% / 3 * 2 + 24px);
    }

    .s2 {
      height: calc(100% / 3 - 24px);
      }
  }

  //右边
  .content-right {
    //width: 28%;
    width: 500px;
    height: 100%;


    .s1 {
      height: calc(100% / 3);
    }

    .s2 {
      height: calc(100% / 3);
      margin: 12px 0;
      position: relative;
    }

    //第三块
    .s3 {
      height: calc(100% / 3 - 24px);
      position: relative;
    }

  }

  /* 小于 1900px */
  @media (max-width: 1450px) {
    .content-left,.content-right {
      width: 400px;
    }
    .chart-type-pie-left,.chart-type-line-left{
      width: 260px !important;
    }
    .chart-type-line-left2{
      width: 100% !important;
    }

    .chart-type-pie .chart-type-pie-right li,.chart-type-line .chart-type-line-right li{
      padding: 0;
      .c1{
        height: 28px;
      }
      .c2 {
        label i{
          font-size: 16px;
        }

        span{
          font-size: 12px;
        }
      }
    }

    .chart-customize2-css{
      margin: 0 15px;
      .f1{
        padding-top: 5px;
      }
      .f2{
        padding-top: 12px;
      }
    }

    .ChartCustomize3-css .ChartCustomize3-content .ChartCustomize3-content-right .n1 img{
      width: 90px;
      height: 110px;
    }
  }

}
