<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.datacenter.dal.mysql.evtmanager.eventmanagement.eventtypemanagement.EventTypeManagementMapper">

    <resultMap id="BaseResultMap" type="cn.iocoder.yudao.module.datacenter.dal.dataobject.evtmanager.eventtypemanagement.EventTypeManagementDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="event_type_id" property="eventTypeId" jdbcType="VARCHAR"/>
        <result column="event_big_code" property="eventBigCode" jdbcType="VARCHAR"/>
        <result column="event_big_name" property="eventBigName" jdbcType="VARCHAR"/>
        <result column="event_mid_code" property="eventMidCode" jdbcType="VARCHAR"/>
        <result column="event_mid_name" property="eventMidName" jdbcType="VARCHAR"/>
        <result column="event_small_code" property="eventSmallCode" jdbcType="VARCHAR"/>
        <result column="event_small_name" property="eventSmallName" jdbcType="VARCHAR"/>
        <result column="event_type_desc" property="eventTypeDesc" jdbcType="VARCHAR"/>
        <result column="enable_status" property="enableStatus" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="extend_category1" property="extendCategory1" jdbcType="VARCHAR"/>
        <result column="extend_category2" property="extendCategory2" jdbcType="VARCHAR"/>
        <result column="extend_category3" property="extendCategory3" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="updater" property="updater" jdbcType="VARCHAR"/>
        <result column="deleted" property="deleted" jdbcType="BIT"/>
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT"/>
        <result column="create_time_sys" property="createTimeSys" jdbcType="TIMESTAMP"/>
        <result column="update_time_sys" property="updateTimeSys" jdbcType="TIMESTAMP"/>
    </resultMap>


</mapper>