<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    通用大屏核心要素运行监测 Mapper XML
    功能说明：
    1. 定义数据库访问的 SQL 语句
    2. namespace 对应 Mapper 接口全路径
    3. select 语句的 resultType 对应查询返回的 VO 类
-->
<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.universal.dashboard.global.coremon.UniversalCoreMonMapper">

    <!--
        查询通用大屏核心要素运行监测的方法
        id: 对应 Mapper 接口的方法名
        resultType: 查询结果映射到的 VO 类
        参数通过 Mapper 接口传入
    -->
    <select id="listUniversalCoreMon"
            resultType="cn.iocoder.yudao.module.industry.controller.admin.universal.dashboard.global.coremon.vo.UniversalCoreMonRespVO"
            parameterType="cn.iocoder.yudao.module.industry.controller.admin.universal.dashboard.global.coremon.vo.UniversalCoreMonQueryReqVO">

        SELECT
        c.mng_comp_id            AS mngCompId,
        c.comp_name              AS compName,
        c.comp_status            AS status,
        w.grid_name AS abnormalCoord,
        w.trigger_time           AS warnTime,
        w.alert_code        AS faultCode,
        w.warning_status         AS woStatus,
        w.device_id              AS deviceId
        FROM gc_biz_mng_comp c
        LEFT JOIN gc_warning_alert_list_table w
        ON c.mng_comp_id = w.related_object_id

        LEFT JOIN biz_mon_comp_info m
        ON w.device_id = m.mon_comp_id

        <!-- 行政区划过滤 -->
        <if test="regionShortCode != null and regionShortCode != ''">
            AND c.grid_id LIKE CONCAT(#{regionShortCode}, '%')
        </if>

        <!-- 时间范围 -->
        <if test="startTime != null">
            AND w.trigger_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND w.trigger_time <![CDATA[ <= ]]> #{endTime}
        </if>

        <!-- 设施类型（来自部件小类名称） -->
        <if test="facilityType != null and facilityType != ''">
            AND c.minor_name = #{facilityType}
        </if>

        <!-- 预警等级 -->
        <if test="warnLevel != null and warnLevel != ''">
            AND w.warning_level = #{warnLevel}
        </if>

        <!-- 故障类型 -->
        <if test="faultType != null and faultType != ''">
            AND w.warning_type = #{faultType}
        </if>

        <!-- 工单状态 -->
        <if test="woStatus != null and woStatus != ''">
            AND w.warning_status = #{woStatus}
        </if>

        ORDER BY w.trigger_time DESC

    </select>


</mapper>
