<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.industry.dal.mysql.marketreg.dashboard.global.coremetrics.MarketCoreMetricsMapper">



    <select id="getMarketCoreMetrics"
            resultType="cn.iocoder.yudao.module.industry.controller.admin.marketreg.dashboard.global.coremetrics.vo.MarketCoreMetricsRespVO">

        SELECT
            -- 市场主体总数
            (SELECT COUNT(1) FROM biz_market_entity
             <where>
                 <!-- 时间筛选 -->
                 <if test="endTime != null">
                     register_time &lt;= #{endTime}
                      AND (cancel_time IS NULL OR cancel_time &gt; #{endTime})
                 </if>
                 <if test="endTime == null">
                     AND cancel_time is null
                 </if>
                 <!-- 区域筛选 -->
                 <if test="regionShortCode != null and regionShortCode != ''">
                    and
                     <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionShortCode">
                         <property name="areaColumn" value="LEFT(region_full_code,6)"/>
                     </include>
                 </if>
             </where>
            ) AS totalEntity,

            -- 今日新增案件数
            (SELECT COUNT(1)
             FROM biz_case
             WHERE create_time >= CURDATE()
            <!-- 区域筛选 -->
            <if test="regionShortCode != null and regionShortCode != ''">
                and
                <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionShortCode">
                    <property name="areaColumn" value="LEFT(region_full_code,6)"/>
                </include>
            </if>
             ) AS todayNewCase,

            -- 抽检合格率
            (SELECT
                 round(
                     IFNULL(SUM(qualified_count) / NULLIF(SUM(total_count), 0) * 100.0, 0),
                     2
                 )
             FROM biz_smpl
             <where>
                 <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionShortCode">
                     <property name="areaColumn" value="LEFT(region_full_code,6)"/>
                 </include>
             and
                 <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.TimeSqlMapper.searchByStartTimeEndTime">
                     <property name="search_time_col" value="sampling_time"/>
                 </include>
             </where>
            ) AS smplQualifiedRate,

            -- 预警处置率
            (SELECT
                 round(
                    IFNULL(SUM(CASE WHEN warn_status = 1 THEN 1 ELSE 0 END) / NULLIF(COUNT(1),0) * 100.0, 0),
                     2
                 )

             FROM biz_warn
            <where>
                <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionShortCode">
                    <property name="areaColumn" value="LEFT(region_full_code,6)"/>
                </include>
            and
                <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.TimeSqlMapper.searchByStartTimeEndTime">
                    <property name="search_time_col" value="create_time"/>
                </include>
            </where>
            ) AS warnHandleRate,

            -- 信用良好主体占比（A 为良好信用）
            (SELECT
                 round(
                     IFNULL(
                         SUM(CASE WHEN c.credit_level='A' THEN 1 ELSE 0 END) / NULLIF(COUNT(m.id),0) * 100.0,
                         0
                     ),
                     2
                 )
             FROM biz_market_entity m
             left join biz_entity_credit c
             on m.id=c.entity_id
             <where>
                 <!-- 时间筛选 -->
                 <if test="endTime != null">
                     m.register_time &lt;= #{endTime}
                     AND (m.cancel_time IS NULL OR m.cancel_time &gt; #{endTime})
                 </if>
                 <if test="endTime == null">
                     AND m.cancel_time is null
                 </if>
                 <!-- 区域筛选 -->
                 <if test="regionShortCode != null and regionShortCode != ''">
                     and
                     <include refid="cn.iocoder.yudao.module.industry.dal.mysql.common.AreaSqlMapper.likeByRegionShortCode">
                         <property name="areaColumn" value="LEFT(m.region_full_code,6)"/>
                     </include>
                 </if>

             </where>
            ) AS goodCreditRate



    </select>

</mapper>
